database = "MySQL"
dbname = "${appconfig.mysql.dbname.maindb}"
dbhost = "${appconfig.mysql.dbhost.maindb}"
dbuser = "${appconfig.mysql.dbuser.maindb}"
dbpass = "${appconfig.mysql.dbusercredential.maindb}"

filesystem = "local"
uploadpath = "${appconfig.datadir}/uploads"

# debug = true
